/* CSS Ebay Dasboard Widget */
div.cct_ebay_settings
{
background-color:#FFFF99;
width:100%;
height:200px;
}

 /* CSS for the Dashboard Feed Widget */
div.cct_widget
{
background-color:#FFFF99;
width:100%;
margin-bottom:-5px;  
}

/* CSS for the Dashboard Feed Widget Menu CSS */
div.cct_widget_menu
{
font-size: 10pt;
font-weight: bold;
color: black
}

 /* CSS for the Dashboard Feed Widget SCrolling rss feed */
div.scroller
{
background-color:#FFFF99;
width:100%;
height:200px;
overflow:scroll;
}

/* 
CSS Ebay Dasboard Settings Page 
*/

table.table_settings_page {
	border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse: separate;
	background-color: white;
}
table.table_settings_page th {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
}
table.table_settings_page td {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
}
</style>